.git
.claude
.devcontainer
.DS_Store
**/.stack-work
dist-newstyle
playground/dist
scratch
waterfall-cad-examples-0.5.1.0-docs
/*.stl
/*.ttf
/*.log
/out.dat
/crash.hs
/crash2.hs
/para.hs
/issue25-*
/issue29-*
/issue33-*
/duplicate-symboloutput
/interface.json
/csg-wasm.svg
Dockerfile
